.header {
  background-color: #f3f3f3;
  height: 100px;

  margin-bottom: 30px;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.header .logo {
  font-size: 36px;
  color: #000;

  height: 88px;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.header .logo .logo-my {
  color: #000;
}

.header .logo .logo-reads {
  font-weight: lighter;
  color: #000;
}

.header .logo .logo-dot {
  font-weight: bold;
  color: #f00;
}

.header .user-sign {
  text-align: right;
  line-height: 88px;
}

.header .user-sign a {
  margin: 0 5px;
  color: #f00;
}
